{{ if ne (.Site.Params.site_id | default "") "" }} 
    {{ $queryParameters := "" }}
    {{ if .Site.Params.show_hits }}
        {{ if (eq ($queryParameters | len) 0) }}
            {{ $queryParameters = ( print $queryParameters "?") }}
        {{ else }}
            {{ $queryParameters = ( print $queryParameters "&") }}
        {{ end }}
        {{ $queryParameters = ( print $queryParameters "hits") }}
    {{ end }}
    {{ if .Site.Params.public_stats }}
        {{ if (eq ($queryParameters | len) 0) }}
            {{ $queryParameters = ( print $queryParameters "?") }}
        {{ else }}
            {{ $queryParameters = ( print $queryParameters "&") }}
        {{ end }}
        {{ $queryParameters = ( print $queryParameters "publicstats") }}
    {{ end }}
    {{ if .Site.Params.show_uptime}}
        {{ if (eq ($queryParameters | len) 0) }}
            {{ $queryParameters = ( print $queryParameters "?") }}
        {{ else }}
            {{ $queryParameters = ( print $queryParameters "&") }}
        {{ end }}
        {{ $queryParameters = ( print $queryParameters "uptime") }}
    {{ end }}
    {{ if .Site.Params.show_webring}}
        {{ if (eq ($queryParameters | len) 0) }}
            {{ $queryParameters = ( print $queryParameters "?") }}
        {{ else }}
            {{ $queryParameters = ( print $queryParameters "&") }}
        {{ end }}
        {{ $queryParameters = ( print $queryParameters "webring") }}
        {{ if .Site.Params.webring_avatar}}
            {{ $queryParameters = ( print $queryParameters "=avatars") }}
        {{ end }}
    {{ end }}
    {{ if .Site.Params.show_countries}}
        {{ if (eq ($queryParameters | len) 0) }}
            {{ $queryParameters = ( print $queryParameters "?") }}
        {{ else }}
            {{ $queryParameters = ( print $queryParameters "&") }}
        {{ end }}
        {{ $queryParameters = ( print $queryParameters "countries") }}
    {{ end }}
    {{ if .Site.Params.show_kudos}}
        {{ if (eq ($queryParameters | len) 0) }}
            {{ $queryParameters = ( print $queryParameters "?") }}
        {{ else }}
            {{ $queryParameters = ( print $queryParameters "&") }}
        {{ end }}
        {{ $queryParameters = ( print $queryParameters "kudos") }}
        {{ if ne (.Site.Params.kudos_label | default "") "" }}
            {{ $queryParameters = ( print $queryParameters "=" .Site.Params.kudos_label) }}
        {{ end }}
    {{ end }}
    <script defer src='https://tinylytics.app/embed/{{ .Site.Params.site_id }}.js{{ $queryParameters }}'></script>
{{ end }}